/* -------------------- Hero Image -------------------- */

.hero-img {
    background: url('../images/hero.jpg') center center/cover no-repeat;
    width: 100%;
    height: 40vh;

}

.hero-text {
    color: #fff;
    position: relative;
    top: 30%;
    left: 20%;
}