/* -------------------- General Styles -------------------- */

* {
    font-family: 'Zen Maru Gothic', sans-serif;
    
}

body {
    background-color: #fbefcc;
}

.accent {
    background-color: #f7e09d;
}

.centered {
    text-align: center;
}


header {
    border-bottom: solid 1px;
}

footer {
    border-top: solid 1px;
}

.aside-text {

    max-width: 60%;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    font-size: 1.25em;
}

.padding > * {
    padding: 10px 0;
}


/* -------------------- Headings -------------------- */

.navbar-brand {
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

.page-heading {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 20px 0;
    width: 100%;
    color: white;
    background: url('../images/hero.jpg') center center/cover no-repeat;
}

.sub-heading {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 20px 0;
    width: 100%;
}

/* -------------------- Footer -------------------- */

.socials {
    text-align: center;
}

.socials a {
    color: #4571f0;
    font-size: 1.5em;
    margin: 0 5%;
}

/* -------------------- Hero Image -------------------- */

.hero-img {
    background: url('../images/hero.jpg') center center/cover no-repeat;
    width: 100%;
    height: 40vh;
    margin-bottom: 15px;
}

.hero-text {
    color: #fff;
    position: relative;
    /* top: 10%;
    left: 20%; */
    top: 0;
    left: 0;
    margin: auto;
    padding: 20%;
    font-weight: 400;
}


/* -------------------- Carousel -------------------- */

.slide-sit {
    position: relative;
}

.text-sit {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10%;
    z-index: 2;
}

.slide-share {
    position: relative;

}

.text-share {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10%;
    z-index: 2;
}

.slide-hello {
    position: relative;

}

.text-hello {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10%;
    z-index: 2;
}


.carousel-item {
    position: relative;
}

.overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/* -------------------- Visit Us -------------------- */


.map iframe {
    width: 90%;
}

.visit {
    max-width: 95%;
    margin: auto;
}

address {
    font-size: 1.25em;
}

.opening-hours td {
    font-size: 1.25em;
}


.teacup {
    width: 50px;
    height: 50px;
}

.exterior {
    background: url("../images/exterior.jpg") center center/contain no-repeat;
}

/* -------------------- Our Teas -------------------- */


.tea {
    margin: 30px 0px;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    background-color: #f7e09d;
}

.tea > * {
    margin-top: 20px;
} 


.tea-leaves {

    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.nav-pills {
    --bs-nav-pills-link-active-bg: #f7e09d;
    --bs-nav-pills-link-active-color: black;
}



/* -------------------- Contact Form -------------------- */


label,
input {
    display: block;
}

form input, textarea {

    width: 100%;
    margin: 10px 0;
}

textarea {
    min-height: 30vh;
}

form {
    min-height: 65vh;
}


/* -------------------- Events -------------------- */


.events-section figure {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.event-one {
    background: url('../images/musicians.jpg') center center/cover no-repeat;
}

.event-two {
    background: url('../images/handmade.jpg') center center/cover no-repeat;
}

.event-three {
    background: url('../images/ceremony.jpg') center center/cover no-repeat;
}

.sold-out {
    color: grey;
}



/* ---------------------------------------- Tablet Styles ---------------------------------------- */

@media(min-width: 768px) {

    /* -------------------- General Styles -------------------- */

    .page-heading, .sub-heading {
        font-size: 2em;
    }

    .aside-text {
        font-size: 1.15em;
    }

    /* -------------------- Homepage -------------------- */

    .hero-img {
        height: 30vh;
    }

    .hero-text {
        padding: 15%;
    }

    /* -------------------- Our Teas -------------------- */

    .nav-pills {
        --bs-nav-link-padding-x: 3rem;
        font-size: 1.25em;
    }

    .tea {
        align-items: center;
    }

    .tea p {
        font-size: 1.15em;
    }

    /* -------------------- Events -------------------- */
    
    .events-section p, .events-section td {
        font-size: 1.15em;
    }
    
    /* -------------------- Contact -------------------- */

    .contact-section {
        font-size: 1.15em;
    }

    form {
        min-height: 50vh;
    }
}


/* ---------------------------------------- Desktop Styles ---------------------------------------- */

@media(min-width: 992px) {

    /* -------------------- General Styles -------------------- */

    /* -------------------- Homepage -------------------- */

    .hero-img {
        height: 45vh;
    }

    .hero-text {
        padding: 10% 20%;
    }

    .text-sit, .text-share, .text-hello {

        padding: 5%;
    }



    /* -------------------- Our Teas -------------------- */

    .tea-leaves {
        margin: 0;
    }
    .tea > * {
        margin: 0 25%;
    }
}