/* -------------------- Hero Image -------------------- */

.hero-img {
    background: url('../images/hero.jpg') center center/cover no-repeat;
    width: 100%;
    height: 40vh;
    margin-bottom: 15px;
}

.hero-text {
    color: #fff;
    position: relative;
    top: 30%;
    left: 20%;
}


/* -------------------- Headings -------------------- */

.page-heading {
    text-align: center;
    text-decoration: underline;
}


/* -------------------- Homepage Carousel -------------------- */

.slide-sit {
    position: relative;
}

.text-sit {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
}

.slide-share {
    position: relative;

}

.text-share {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
}

.slide-hello {
    position: relative;

}

.text-hello {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
}


/* -------------------- Google Map -------------------- */


.map iframe {
    width: 90%;
}




/* -------------------- Our Teas -------------------- */


.tea {
    margin: 50px 0px;
    padding: 20px 0;
    text-align: center;
}

.tea-leaves {

    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.aside-text {

    max-width: 50%;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
}




/* -------------------- Contact Form -------------------- */


label, input {
    display: block;
}




/* -------------------- Events -------------------- */


.event {

}

.events-section figure {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.event-one {
    background: url('../images/musicians.jpg') center center/cover no-repeat;
}

.event-two {
    background: url('../images/handmade.jpg') center center/cover no-repeat;
}

.event-three {
    background: url('../images/ceremony.jpg') center center/cover no-repeat;
}

.sold-out {

}